
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-signup{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}